@font-face { 
  font-family: 'IconicStroke'; 
  font-weight: normal; 
  font-style: normal; 
  src: url('/fonts/iconic_stroke.eot'); 
  src: url('/fonts/iconic_stroke.eot?#iefix') format('embedded-opentype'),
       url('/fonts/iconic_stroke.woff') format('woff'), 
       url('/fonts/iconic_stroke.ttf') format('truetype'), 
       url('/fonts/iconic_stroke.svg#iconic') format('svg'); 
}

.iconic {
  font-family: 'IconicStroke';
  font-size: 5em;
  line-height: 0.7em;
  margin-right: 20px;
  min-width: 75px;
}

div.logo {
  text-align: center;
  margin-bottom: 20px;
}

div.logo img {
  width: 231px;
  height: 400px;
}

img.avatar {
  margin-top: 5px; 
  margin-right: 5px; 
  width: 50px; 
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#talks dd {
  margin-bottom: 5px;
}

.organizers p {
  text-align: center;
}