---
layout: page
sharing: true
comments: true
---

<div style='text-align: center'>
  <img src='images/ignite_cleanweb.png' width='400' height='300'/>
</div>

<p style='margin-top: 20px'>
  On Thursday 13th September 2012, Cleanweb UK held our first <a href='http://igniteshow.com'>Ignite</a> evening in London, hosted by 
  <a href='http://forwardtechnology.co.uk/venue'>Forward Technology</a>! We had a great selection of lightning talks covering the
  whole range of cleanweb activity in the UK. If you couldn't make it, never fear - you can watch all the videos online right now:
</p>
<div class='well' id='talks'>
  <div class='row-fluid' style='text-align:center'>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/J0P9K-SQa0A" frameborder="0" allowfullscreen></iframe>
          <h3>Jon Leighton</h3>
          <p>Loco2 vs The European Rail Booking Monster</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/J0CzpM6zMoE" frameborder="0" allowfullscreen></iframe>
          <h3>Ed Dowding</h3>
          <p>Good Food, For Everyone, Forever. Easy, Right?</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/zqKMDogFuNU" frameborder="0" allowfullscreen></iframe>
          <h3>Trystan Lea</h3>
          <p>The OpenEnergyMonitor Project</p>
        </div>
      </li>
    </ul>
  </div>
  <div class='row-fluid' style='text-align:center'>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/Psv8TaMPC8w" frameborder="0" allowfullscreen></iframe>
          <h3>Chris Adams</h3>
          <p>Weaponising Environmentalism</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/6Nzthl2PpfA" frameborder="0" allowfullscreen></iframe>
          <h3>Paul Tanner</h3>
          <p>Energy Saving Behaviour - The Motivation Challenge</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/6Po5Ti7J9NI" frameborder="0" allowfullscreen></iframe>
          <h3>Robin Houston</h3>
          <p>The Carbon Map</p>
        </div>
      </li>
    </ul>
  </div>
  <div class='row-fluid' style='text-align:center'>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/gSk7reiDd1Q" frameborder="0" allowfullscreen></iframe>
          <h3>Vinay Gupta</h3>
          <p>Love Thy Neighbour. Rent Their Car</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/mYABsnVPRbU" frameborder="0" allowfullscreen></iframe>
          <h3>Luke Nicholson</h3>
          <p>Carbon Culture</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/H0sTBkhS9Y4" frameborder="0" allowfullscreen></iframe>
          <h3>Jack Townsend</h3>
          <p>Putting the Local in Global Warming with Open Data</p>
        </div>
      </li>
    </ul>
  </div>    
  <div class='row-fluid' style='text-align:center'>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/MOSTaEsiMQA" frameborder="0" allowfullscreen></iframe>
          <h3>Jason Neylon</h3>
          <p>Solar Panels Cross The Chasm</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/bxhR0o0cXFs" frameborder="0" allowfullscreen></iframe>
          <h3>Gavin Starks</h3>
          <p>The Open Data Institute</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <iframe width="201" height="113" src="http://www.youtube.com/embed/j68tLsRRJ90" frameborder="0" allowfullscreen></iframe>
          <h3>James Smith</h3>
          <p>Cleanweb in the UK</p>
        </div>
      </li>
    </ul>
  </div>    
</div>
<hr/>
<h1>Blog Posts</h1>
{% for post in site.categories['ignite'] reverse %}
<article>
  {% include archive_post.html %}
</article>
{% endfor %}