---
layout: page
sharing: true
comments: true
---

<div style='text-align: center'>
  <img src='images/ignite_cleanweb.png' width='400' height='300'/>
  <h1>Thursday, September 13, 2012</h1>
  <h3>7:00pm, at <a href='http://forwardtechnology.co.uk/venue'>Forward Technology</a> in London</h3>
</div>

<p style='margin-top: 20px'>
  Cleanweb UK are excited to announce our first <a href='http://igniteshow.com'>Ignite</a> evening in London, hosted by 
  <a href='http://forwardtechnology.co.uk/venue'>Forward Technology</a>! Come along and see 14 lightning talks all 
  about what's happening with sustainability and the web in the UK.
</p>
<p>
  From clean clouds, to home energy, to climate visualisation, there will plenty to learn, and plenty of other attendees
  to get to know. It'll be an evening to remember, so make sure you're there!
</p>
<p style='text-align: center'>
  <a href='http://www.meetup.com/Cleanweb-London/events/72550332/' class='btn btn-large btn-primary'>Register Now!</a>
  <a href='http://lanyrd.com/2012/ignite-cleanweb/' class='btn btn-large'>Join in on Lanyrd</a>
</p>
<div class='well' id='talks'>
  <div class='row-fluid'>
    <div style='text-align:center'>
      <h3>Talks</h3>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span6'>
      <dl>
        <dt>Loco2 vs The European Rail Booking Monster</dt>
        <dd><a href='http://loco2.com'>Jon Leighton, Loco2</a></dd>
        <dt>Love Thy Neighbour. Rent Their Car</dt>
        <dd><a href='http://whipcar.com'>Tom Wright, Whipcar</a></dd>
        <dt>Solar Panels Cross The Chasm</dt>
        <dd><a href='http://twitter.com/jasonneylon'>Jason Neylon, uSwitch</a></dd>
        <dt>Off-grid In The City</dt>
        <dd><a href='http://twitter.com/misced'>Ed Murfitt</a></dd>
        <dt>Weaponising Environmentalism</dt>
        <dd><a href='http://twitter.com/mrchrisadams'>Chris Adams, AMEE</a></dd>
        <dt>Energy Saving Behaviour - The Motivation Challenge</dt>
        <dd><a href='http://twitter.com/paul_tanner'>Paul Tanner, Virtual Technologies</a></dd>
      </dl>
    </div>
    <div class='span6'>
      <dl>
        <dt>Good Food, For Everyone, Forever. Easy, Right?</dt>
        <dd><a href='http://sustaination.co'>Ed Dowding, Sustaination</a></dd>
        <dt>The OpenEnergyMonitor Project</dt>
        <dd><a href='http://openenergymonitor.org'>Glyn Hudson &amp; Tristan Lea, OpenEnergyMonitor</a></dd>
        <dt>The Carbon Map</dt>
        <dd><a href='http://twitter.com/robinhouston'>Robin Houston, Carbon Map</a></dd>
        <dt>Putting the Local in Global Warming with Open Data</dt>
        <dd><a href='http://globe-town.org'>Jack Townsend, Globe Town</a></dd>
        <dt>A New Kind of Optimisation</dt>
        <dd><a href='http://twitter.com/gshutler'>Garry Shutler, Robust Software</a></dd>
        <dt>Cleanweb in the UK</dt>
        <dd><a href='http://twitter.com/floppy'>James Smith, Cleanweb UK</a></dd>
      </dl>
    </div>
  </div>
  <div class='row-fluid' style='text-align:center'>
    <p>...plus two more to be confirmed...</p>
  </div>
</div>
<hr/>
<h1>Blog Posts</h1>
{% for post in site.categories['ignite'] reverse %}
<article>
  {% include archive_post.html %}
</article>
{% endfor %}